body{
  background-color:#608591;
}
h1{
  color:#8e659c;
  font-size:25px;
  font-style: italic;
  opacity: 25px;
}
.item{
  display:block;
  opacity:50px;
}
#Facts{
  border:1px solid black;
  width: 300px;
  margin-bottom: 20px;
}
.picture{
  width: 20px;
}
.places{
  display:inline;
  margin-left: 35px;
}
